app-button {
  button {
    height: 40px !important;

    .mat-button-wrapper {
      @extend .flex;
      @extend .flex-row;
      @extend .align-items-center;
      @extend .justify-content-between;
      @extend .h-100;
      line-height: initial;

      .text {
        @extend .button-text;
      }

      mat-icon {
        @extend .position-relative;
        line-height: initial;
      }
    }

    &.icon {
      padding: inherit !important;

      .mat-button-wrapper {
        @extend .flex;
        @extend .flex-row;
        @extend .align-items-center;
        @extend .justify-content-center;
      }
    }

    &.small {
      padding      : 3px 7px !important;
      min-width    : 60px !important;
      border-radius: 4px !important;
    }

    &.large {
      padding      : $baseSpacing $baseSpacing*2 !important;
      min-width    : 100px !important;
      border-radius: 4px !important;
    }
  }
}

.button-text {
  font-size : 15px;
  flex-grow : 1;
}