<div class="grocery-dialog-container flex flex-column justify-content-between">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <ng-container *ngIf="!(loading$ | async); else loading">
    <div mat-dialog-content class="grocery-dialog-container__items flex flex-row flex-wrap">
      <div
        *ngFor="let item of groceries"
        class="grocery-dialog-container__items__item flex flex-row align-items-center justify-content-center"
        [class.selected]="selected(item)"
        (click)="handleClick(item)">
        <img [src]="item.icon" [alt]="item.value" />
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>
  <div mat-dialog-actions class="justify-content-end">
    <app-button
      mat-dialog-close
      icon="close"
      color="accent"
      [text]="'GENERAL_BUTTONS_CLOSE' | translate">
    </app-button>
  </div>
</div>