@import 'src/app/styles/core';

:host {
  display: block;
}

.grocery-dialog-container {
  min-height: 200px;

  &__items {

    &__item {
      width : 50px;
      height: 50px;
      cursor: pointer;

      &:hover,
      &.selected {
        background-color: $dark-grey;
      }

      img {
        width : 36px;
        height: 36px;
      }
    }
  }
}