<mat-card class="weather-widget-container">
  <mat-card-header>
    <mat-card-title>{{data?.location}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-row align-items-center">
      <img src="assets/icons/weather/cloudy-day-1.svg" [alt]="data?.description">
      <div>
        <p class="font-size-20">{{data?.temperature}}</p>
        <p class="font-size-15">{{data?.description}}</p>
      </div>
    </div>
    <div class="flex flex-row align-items-center justify-content-between">
      <div class="flex flex-column justify-content-center">
        <img class="weather-widget-container__icon my-1" src="assets/icons/weather/water-drop.svg">
        <span class="text-center">{{data?.humidity}}</span>
      </div>
      <div class="flex flex-column justify-content-center">
        <img class="weather-widget-container__icon my-1" src="assets/icons/weather/wind.svg">
        <span class="text-center">{{data?.wind}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>