<ng-container [ngSwitch]="viewMode">
  <mat-card *ngSwitchCase="viewModes.full" class="weather-widget-container">
    <ng-container *ngIf="data; else noData">
      <mat-card-header
        class="flex flex-row align-items-center justify-content-between w-100 mb-2"
      >
        <mat-card-title
          [matTooltip]="data?.location || 'WEATHER_UNKNOWN_PLACE' | translate"
          class="weather-widget-container__title color-primary m-0"
          >{{
            data?.location || 'WEATHER_UNKNOWN_PLACE' | translate
          }}</mat-card-title
        >
        <div
          class="flex flex-row flex-wrap align-items-center justify-content-end"
        >
          <div
            class="flex flex-row align-items-center mx-1"
            [matTooltip]="'WEATHER_HUMIDITY' | translate"
          >
            <img
              class="weather-widget-container__icon mx-1"
              src="assets/icons/weather/water-drop.svg"
            />
            <span class="text-center text-nowrap">{{
              data?.humidity || 'GENERAL_N_A' | translate
            }}</span>
          </div>
          <div
            class="flex flex-row align-items-center mx-1"
            [matTooltip]="'WEATHER_WIND' | translate"
          >
            <img
              class="weather-widget-container__icon mx-1"
              src="assets/icons/weather/wind.svg"
            />
            <span class="text-center text-nowrap">
              {{ data?.wind || 'GENERAL_N_A' | translate }}
              {{ 'WEATHER_METRIC_SPEED' | translate }}
            </span>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-row align-items-center">
          <img
            class="weather-widget-container__main-icon"
            [src]="data?.icon"
            [alt]="data?.description"
            [matTooltip]="data?.description || ''"
          />
          <div>
            <p class="font-size-20 my-1 color-primary">
              {{ data?.temperature || 'GENERAL_N_A' | translate }}
            </p>
            <p class="font-size-12 my-1">
              {{ 'WEATHER_FEELS_LIKE' | translate }}
              {{ data?.feelsLike || 'GENERAL_N_A' | translate }}
            </p>
            <p class="font-size-15 my-2">
              {{ data?.description || 'GENERAL_N_A' | translate }}
            </p>
          </div>
        </div>
        <div
          class="weather-widget-container__forecast flex flex-row flex-wrap align-items-center justify-content-end"
        >
          <div
            *ngFor="let item of data?.forecast"
            class="flex flex-column align-items-center mx-2"
          >
            <p class="m-0">{{ item?.time }}</p>
            <div class="flex flex-column align-items-center my-1">
              <p
                class="mb-1"
                [matTooltip]="'WEATHER_PRECIPITATION_PROBABILITY' | translate"
              >
                {{ item?.precipitationProbability }}
              </p>
              <img
                class="weather-widget-container__forecast-icon"
                [src]="item?.icon"
                [alt]="item?.description"
                [matTooltip]="item?.description || ''"
              />
            </div>
            <p class="color-primary m-0">{{ item?.temperature }}</p>
          </div>
        </div>
      </mat-card-content>
    </ng-container>
    <ng-template #noData>
      <h1 class="color-primary">{{ 'GENERAL_NO_DATA' | translate }}</h1>
    </ng-template>
  </mat-card>
  <div *ngSwitchCase="viewModes.compact">
    {{ data?.temperature || 'GENERAL_N_A' | translate }}
  </div>
</ng-container>
