:host {
  display: block;
}

.weather-widget-container {
  &__icon {
    width: 24px;
    height: 24px;
  }

  &__main-icon {
    width: 64px;
    height: 64px;
  }

  &__forecast-icon {
    width: 36px;
    height: 36px;
  }
}
