<div class="header-container">
  <mat-toolbar color="primary">
    <!-- TODO move to component -->
    <app-button
      icon="settings"
      [size]="ButtonSize.icon"
      [matMenuTriggerFor]="tools"
      [matTooltip]="'GENERAL_TOOLTIPS_TOOLS' | translate" 
      matTooltipPosition="right">
    </app-button>
    <mat-menu #tools="matMenu">
      <button mat-menu-item [routerLink]="notesLink">{{'GENERAL_PAGES_NOTES' | translate}}</button>
      <button mat-menu-item [routerLink]="timeLink">{{'GENERAL_PAGES_TIME' | translate}}</button>
      <button mat-menu-item [routerLink]="groceryLink">{{'GENERAL_PAGES_GROCERY' | translate}}</button>
    </mat-menu>
    <div class="header-container__widgets flex flex-row flex-grow-1 justify-content-between align-items-center">
      <app-breadcrumbs 
        [item]="(modulePage$ | async)!">
      </app-breadcrumbs>
      <div class="flex flex-row align-items-center">
        <app-clock [format]="clockFormat"></app-clock>
        <!-- TODO move to component -->
        <app-button
          icon="language"
          color="primary"
          [size]="ButtonSize.small"
          [text]="(currentLanguage$ | async)?.shortName"
          [matMenuTriggerFor]="lang">
        </app-button>
        <mat-menu #lang="matMenu">
          <ng-container *ngFor="let item of languages">
            <button mat-menu-item (click)="changeLanguage(item)">{{item.name}}</button>
          </ng-container>
        </mat-menu>
        <app-button
          icon="notifications_active"
          [size]="ButtonSize.icon"
          [matMenuTriggerFor]="notifications" 
          matTooltipPosition="left"
          [matTooltip]="'GENERAL_TOOLTIPS_NOTIFICATIONS' | translate"
          matBadgeSize="small"
          matBadge="{{notificationsCount$ | async}}"
          matBadgeColor="warn">
        </app-button>
        <mat-menu #notifications="matMenu">
          <button 
            mat-menu-item 
            [routerLink]="groceryNotificationsLink">
            {{'GENERAL_PAGES_GROCERY' | translate}}
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</div>