@import 'src/app/styles/core';

.header-container {
  &__widgets {
    width: calc(100% - 40px);
  }
}

app-breadcrumbs {
  max-width: 45%;
}

app-clock {
  max-width: 35%;
}

// TODO remove to component styles
mat-toolbar {
  @media (max-width: $breakpoint-mobile) {
    padding: 0 $baseSpacing*2 !important;
  }
}