@import 'src/app/styles/core';

:host {
  display: block;
}

.header-container {
  &__breadcrumbs {
    width: calc(100% - 82px);

    app-breadcrumbs {
      max-width: 95%;
    }
  }
}

// TODO remove to component styles
mat-toolbar {
  min-height: 56px;
  height    : auto !important;

  // TODO move resolution detection to a service
  @media (max-width: $breakpoint-mobile-portrait) {
    padding: 0 $baseSpacing*2 !important;
  }
}