@import 'src/app/styles/core';

:host {
  display: block;
  @extend .position-sticky;
}

.header-container {
  &__breadcrumbs {
    width: calc(100% - 82px);

    app-breadcrumbs {
      max-width: 95%;
    }
  }

  &__content {
    &__user-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

// TODO remove to component styles
mat-toolbar {
  min-height: 56px;
  height: auto !important;
}
