<div class="header-container">
  <mat-toolbar color="primary" class="py-3 px-3">
    <!-- TODO move to component -->
    <div class="flex flex-row flex-grow-1 flex-wrap justify-content-between align-items-center w-100">
      <div class="flex flex-row flex-grow-1 justify-content-start align-items-center max-w-100">
        <app-button
          icon="settings"
          color="primary"
          [size]="ButtonSize.icon"
          [matMenuTriggerFor]="tools"
          [matTooltip]="'GENERAL_TOOLTIPS_TOOLS' | translate" 
          matTooltipPosition="right">
        </app-button>
        <mat-menu #tools="matMenu">
          <button *ngFor="let item of menuItems.tools" mat-menu-item [routerLink]="item.route">{{item.langKey | translate}}</button>
        </mat-menu>
        <app-button
          icon="widgets"
          color="primary"
          [size]="ButtonSize.icon"
          [matMenuTriggerFor]="widgets"
          [matTooltip]="'GENERAL_TOOLTIPS_WIDGETS' | translate" 
          matTooltipPosition="right">
        </app-button>
        <mat-menu #widgets="matMenu">
          <button *ngFor="let item of menuItems.widgets" mat-menu-item [routerLink]="item.route">{{item.langKey | translate}}</button>
        </mat-menu>
        <div class="header-container__breadcrumbs flex flex-row flex-grow-1 justify-content-end">
          <app-breadcrumbs
            [item]="(modulePage$ | async)!">
          </app-breadcrumbs>
        </div>
      </div>
      <div class="header-container__content flex flex-row flex-grow-1 justify-content-end align-items-center">
        <app-clock [timeFormat]="clockFormat" class="ellipsis-text"></app-clock>
        <!-- TODO move to component -->
        <app-button
          icon="language"
          color="primary"
          [size]="ButtonSize.small"
          [text]="(currentLanguage$ | async)?.shortName"
          [matMenuTriggerFor]="lang">
        </app-button>
        <mat-menu #lang="matMenu">
          <ng-container *ngFor="let item of languages">
            <button mat-menu-item (click)="changeLanguage(item)">{{item.name}}</button>
          </ng-container>
        </mat-menu>
        <app-button
          icon="notifications_active"
          color="primary"
          [size]="ButtonSize.icon"
          [matMenuTriggerFor]="notifications"
          [matTooltip]="'GENERAL_TOOLTIPS_NOTIFICATIONS' | translate"
          matTooltipPosition="left"
          matBadgeSize="small"
          matBadgeColor="accent"
          [matBadge]="totalCount$ | async"
          [matBadgeHidden]="!(totalCount$ | async)">
        </app-button>
        <mat-menu #notifications="matMenu">
          <button
            *ngFor="let item of menuItems.notifications"
            mat-menu-item
            [routerLink]="item.route">
            <span
              matBadgeSize="small"
              matBadgeOverlap="false"
              matBadgeColor="accent"
              [matBadge]="item.badgeCount"
              [matBadgeHidden]="!item.badgeCount">
              {{item.langKey | translate}}
            </span>
          </button>
        </mat-menu>
        <app-button
          icon="language"
          color="primary"
          [size]="ButtonSize.small"
          [text]="(user$ | async)?.name!"
          [matMenuTriggerFor]="user">
        </app-button>
        <mat-menu #user="matMenu">
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>
</div>