<div class="grocery-container">
  <div class="grocery-container__actions flex flex-row align-items-center justify-content-between">
    <app-button
      icon="apps"
      color="primary"
      [text]="'GENERAL_BUTTONS_SELECT' | translate"
      (clicked)="openDialog()">
    </app-button>
    <app-button
      icon="notifications_none"
      color="primary"
      [text]="'GENERAL_BUTTONS_ADD' | translate"
      (clicked)="addToGroceries()">
    </app-button>
  </div>
  <div class="grocery-container__content mt-2">
    <app-grocery-list
      [data]="(groceries$ | async)!"
      (selectionChanged)="updateGroceries($event)"
      (itemRemoved)="removeItem($event)">
    </app-grocery-list>
  </div>
</div>