<div class="notes-container">
  <mat-form-field class="flex flex-grow-0">
    <mat-label>{{'GENERAL_PAPER_TYPE' | translate}}</mat-label>
    <mat-select
      placeholder="Choose paper type"
      [value]="paperType"
      (selectionChange)="handlePaperTypeChange($event)">
      <mat-option *ngFor="let item of paperTypes" [value]="item.key">
        {{item.name | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <form [formGroup]="form">
    <app-paper
      [type]="paperType" 
      formControlName="paper">
    </app-paper>
    <div class="notes-container__actions flex flex-row justify-content-between">
      <div class="flex flex-row align-items-center">
        <app-button
          class="mr-2"
          icon="save"
          color="primary"
          [text]="'GENERAL_BUTTONS_SAVE' | translate"
          (clicked)="save()">
        </app-button>
        <app-upload-button
          (uploaded)="upload($event)">
        </app-upload-button>
      </div>
      <app-button
        icon="clear"
        [text]="'GENERAL_BUTTONS_CLEAR' | translate"
        color="accent"
        (clicked)="clear()">
      </app-button>
    </div>
  </form>
</div>