@import './spacings';

.color-primary {
  color: $primary;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.my-2 {
  margin: $baseSpacing*2 0;
}

.my-1 {
  margin: $baseSpacing 0;
}

.mx-2 {
  margin: 0 $baseSpacing*2;
}

.mx-1 {
  margin: 0 $baseSpacing;
}

.mt-1 {
  margin-top: $baseSpacing;
}

.mt-2 {
  margin-top: $baseSpacing*2;
}

.mr-2 {
  margin-right: $baseSpacing*2;
}

.p-2 {
  padding: $baseSpacing*2;
}

.p-1 {
  padding: $baseSpacing*1;
}

.py-1 {
  padding: $baseSpacing 0;
}

.py-2 {
  padding: $baseSpacing*2 0;
}

.font-size-15 {
  font-size: 15px;
}

.font-weight-bold {
  font-weight: bold;
}

.border-box {
  box-sizing: border-box;
}

.d-block {
  display: block;
}

.position-relative {
  position: relative;
}

.flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-self-center {
  align-self: center;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.ellipsis-text {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}