<div class="login-container absolute-center position-relative">
  <mat-card class="flex flex-column justify-content-between">
    <mat-toolbar color="primary" class="position-absolute t-0 l-0">
      <mat-card-header>
          <mat-card-title class="m-0">{{'LOGIN_WITH' | translate}}</mat-card-title>
      </mat-card-header>
    </mat-toolbar>
    <mat-card-content></mat-card-content>
    <mat-card-actions class="flex flex-row align-items-center justify-content-between">
      <app-button 
        color="primary"
        text="Google"
        (clicked)="login(LoginProvider.GOOGLE)">
      </app-button>
      <app-button 
        color="primary"
        text="Facebook"
        (clicked)="login(LoginProvider.FACEBOOK)">
      </app-button>
    </mat-card-actions>
  </mat-card>
</div>