<div class="login-container">
  <app-button 
    color="primary"
    (clicked)="login(LoginProvider.GOOGLE)"
  >
    <ng-template #customTemplate>
      <div class="login-container__button-wrapper flex flex-row align-items-center justify-content-between w-100">
        <img class="login-container__button-wrapper__icon" src="assets/icons/google-icon.svg" />
        <span class="login-container__button-wrapper__text mx-1">{{'GENERAL_BUTTONS_LOGIN' | translate}}</span>
      </div>
    </ng-template>
  </app-button>
</div>