@import 'src/app/styles/core';

:host {
  display: block;
}

.grocery-list-container {
  padding-right: $baseSpacing * 1;

  &__actions {
    border: 1px solid $dark-grey;
    border-width: 1px 0;
  }

  &__item {
    img {
      width: 48px;
      height: 48px;
    }
  }

  &__icon-text {
    min-width: calc(40% - 8px);
  }

  &__notes-button {
    max-width: 60%;
    width: auto;
  }

  &__notes {
    width: 70%;
  }
}
