@import 'src/app/styles/core';

:host {
  display: block;
}

.grocery-list-container {
  max-height: calc(100vh - 185px);
  overflow: auto;
  padding-right: $baseSpacing*1;

  &__item {
    img {
      width : 48px;
      height: 48px;
    }
  }

  &__icon-text {
    width: 33%;
  }

  &__notes-button {
    width: 67%;
  }

  &__notes {
    width: 70%;
  }
}