@import 'src/app/styles/core';

:host {
  display: block;
}

.grocery-list-container {
  max-height: calc(100vh - 185px);
  overflow: auto;
  padding-right: $baseSpacing*1;

  &__actions {
    border: 1px solid $dark-grey;
    border-width: 1px 0;
  }

  &__item {
    img {
      width : 48px;
      height: 48px;
    }
  }

  &__icon-text {
    width: calc(40% - 8px);
  }

  &__notes-button {
    width: 60%;
  }

  &__notes {
    width: 70%;
  }
}