<div class="password-generator-container">
  <form [formGroup]="form">
    <div class="flex flex-column justify-content-center">
      <mat-label class="font-size-16 color-primary"
        >{{ 'PASSWORD_LENGTH' | translate }}:
        {{ form.get('length')?.value }}
      </mat-label>
      <mat-slider
        color="primary"
        formControlName="length"
        (change)="handleChange($event)"
      >
      </mat-slider>
      <div class="flex flex-column my-2">
        <mat-checkbox color="primary" formControlName="uppercase">
          {{ 'PASSWORD_UPPERCASE' | translate }}
        </mat-checkbox>
        <mat-checkbox color="primary" formControlName="numbers">
          {{ 'PASSWORD_DIGITS' | translate }}
        </mat-checkbox>
        <mat-checkbox color="primary" formControlName="symbols">
          {{ 'PASSWORD_SYMBOLS' | translate }}
        </mat-checkbox>
        <mat-checkbox
          color="primary"
          formControlName="excludeSimilarCharacters"
        >
          {{ 'PASSWORD_AVOID_SIMILAR_CHARACTERS' | translate }}
        </mat-checkbox>
      </div>
      <div
        class="flex flex-row align-items-center justify-content-between my-2"
      >
        <mat-form-field appearance="fill" class="w-100 mr-2">
          <input
            matInput
            readonly
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="{{ 'PASSWORD_GENERATED' | translate }}"
            formControlName="password"
          />
          <app-button
            matSuffix
            [icon]="hidePassword ? 'visibility_off' : 'visibility'"
            color="primary"
            [size]="ButtonSize.icon"
            (clicked)="hidePassword = !hidePassword"
          >
          </app-button>
        </mat-form-field>
        <app-button
          icon="content_copy"
          color="primary"
          [text]="'GENERAL_BUTTONS_COPY' | translate"
          [cdkCopyToClipboard]="form.get('password')?.value"
          (cdkCopyToClipboardCopied)="handleCopy($event)"
        >
        </app-button>
      </div>
    </div>
    <div class="flex flex-row align-items-center justify-content-between">
      <app-button
        icon="lock"
        color="primary"
        [text]="'GENERAL_BUTTONS_GENERATE' | translate"
        (clicked)="generate()"
      >
      </app-button>
      <app-button
        icon="close"
        color="accent"
        [text]="'GENERAL_BUTTONS_CLEAR' | translate"
        (clicked)="clear()"
      >
      </app-button>
    </div>
  </form>
</div>
